[submodule "dotfiles/.dotbot"]
	path = dotfiles/.dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "dotfiles/.dotbot-brewfile"]
	path = dotfiles/.dotbot-brewfile
	url = https://github.com/sobolevn/dotbot-brewfile.git
