alias python=/usr/local/bin/python3
alias pip=/usr/local/bin/pip3

alias oceanssh="ssh renai@159.203.3.104"
alias i7="THEOS_DEVICE_IP=192.168.1.230"
alias i6="THEOS_DEVICE_IP=192.168.1.229"
alias final="FINALPACKAGE=1 DEBUG=0"
alias sashimi="wakeonlan 40:8d:5c:c6:8e:2f > /dev/null && ssh renai@192.168.1.239"
