function iconsur() {
    sudo -p "Password: " printf "\n" || exit 1
    echo "Updating Icons..."
    echo -n "Progress: "
    
    sudo $HOME/.bin/iconsur set /Applications/The\ Unarchiver.app -l -c fefefe &>/dev/null && echo -n "#"
    sudo $HOME/.bin/iconsur set /Applications/Visual\ Studio\ Code.app -l -s 0.8 -c fefefe &>/dev/null && echo -n "#"
    sudo $HOME/.bin/iconsur set /Applications/Hopper\ Disassembler\ v4.app -l -s 0.7 -c fefefe &>/dev/null && echo -n "#"
    sudo $HOME/.bin/iconsur set /Applications/Adobe\ Photoshop\ 2020/Adobe\ Photoshop\ 2020.app -l -s 1.1 -c 010101 &>/dev/null && echo -n "#"
    
    sudo $HOME/.bin/iconsur set /Applications/Spark.app -k 'Spark' &>/dev/null && echo -n "#"
    sudo $HOME/.bin/iconsur set /Applications/zoom.us.app -k 'Zoom' &>/dev/null && echo -n "#"
    sudo $HOME/.bin/iconsur set /Applications/Spotify.app -k 'Spotify' &>/dev/null && echo -n "#"
    sudo $HOME/.bin/iconsur set /Applications/Discord.app -k 'Discord' &>/dev/null && echo -n "#"
    sudo $HOME/.bin/iconsur set /Applications/Twitter.app -k 'Twitter' &>/dev/null && echo -n "#"
    sudo $HOME/.bin/iconsur set /Applications/Microsoft\ Edge.app -k 'Edge' &>/dev/null && echo -n "#"
    sudo $HOME/.bin/iconsur set /Applications/1Password\ 7.app -k '1Password' &>/dev/null && echo -n "#"
    sudo $HOME/.bin/iconsur set /Applications/PDF\ Expert.app -k 'PDF Expert' &>/dev/null && echo -n "#"
    sudo $HOME/.bin/iconsur set /Applications/Grammarly\ for\ Safari.app -k 'Grammarly' &>/dev/null && echo -n "#"

    echo ""
    echo "Updating Icon Cache..."
    sudo $HOME/.bin/iconsur cache
    sudo rm -rf /Library/Caches/com.apple.iconservices.store &>/dev/null
    sudo touch /Applications/* &>/dev/null
    sudo find /private/var/folders/ ( -name com.apple.dock.iconcache -or -name com.apple.iconservices ) -exec rm -rf {}; &>/dev/null
    killall Dock &>/dev/null
    killall Finder &>/dev/null
}

function wakedev() {
    wakeonlan -f ~/.sashimi_id &>/dev/null
    ssh renai@sashimi
}

function sleepdev() {
    ssh -t renai@sashimi 'sudo pm-suspend'
    exit 0
}

export -f iconsur &>/dev/null