[user]
	email = 46133336+tale@users.noreply.github.com
	name = Tale
	signingkey = AD981AC91F858B58
[tag]
	forceSignAnnotated = true
[commit]
	gpgsign = true
[gpg]
	program = /usr/local/bin/gpg
[core]
	editor = nano
[pull]
	rebase = true
